/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3030e6;
}

/* Login Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f9;
}

/* Login Form */
.login-form {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: center;
}

/* Error Message */
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Form Fields */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.input-group input:focus {
    border-color: #0078d7;
    outline: none;
}

/* Submit Button */
.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #308bcc;
}

/* Sign Up Link */
.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #0078d7;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.hero-section {
    background: linear-gradient(to right, #4e73df, #1cc88a);
    color: rgb(224, 49, 49);
    padding: 100px 10px;
    text-align: center;
}