/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* Signup Container */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

/* Signup Form */
.signup-form {
    background-color: rgb(158, 158, 158);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
    text-align: center;
}

/* Error Message */
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Form Fields */
.input-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.input-group label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus {
    border-color: #0078d7;
    outline: none;
}

textarea {
    resize: vertical;
    height: 100px;
}

/* Submit Button */
.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #008cff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #a36200;
}